@import "tailwindcss";

@font-face {
    font-family: 'Montserrat';
    src: url('./assets/fonts/Montserrat.ttf');
}

@font-face {
    font-family: 'Comfortaa';
    src: url('./assets/fonts/Comfortaa-VariableFont_wght.ttf');
}

.montserrat {
    font-family: 'Montserrat';
}

.comfortaa {
    font-family: 'Comfortaa';
}