@import "tailwindcss";

@font-face {
    font-family: 'Coolvetica';
    src: url('./assets/fonts/CoolveticaRg.otf');
}

.coolvetica {
    font-family: 'Coolvetica';
}

.courier {
    font-family: 'Courier New', Courier, monospace;
}